<div class="container">
  <row>
    <header>
     <span class="bell fa fa-bell"></span>
      <span>UPDATES</span>
      <span>({{data.length}})</span>
      <span class="arrow fa fa-arrow-right"></span>
    </header>
    <section>
        <ul>
            <li ng-repeat="item in data">
                <div class="common headline">{{item.Heading}}</div>
                <p class="common content">{{item.content}}</p>
                <p class="bottomLine"></p>
                <div class="common footer">
                  <span>{{item.footerCaption}}</span>
                  <span class="common otherDetails">{{item.otherDetails}}</span>                
                  <span ng-if="$index % 2==0" class="fa fa-flash ico"></span>                
                  <span ng-if="$index % 2 !==0" class="fa fa-bullhorn ico"></span>                
                </div>  
            </li>
        </ul>
    </section>
  </row>
</div>
